body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  box-sizing: border-box;
  color: black;
  transition: all 0.05s ease-in-out;
}

* {
  box-sizing: border-box;
}

a:hover {
  color: dodgerblue;
}

a:active {
  text-decoration: none;
  box-sizing: border-box;
  color: rgb(7, 105, 204);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
